/*
============================================
; Title: Payroll CSS 
; Author: Kailee Stephens
; Date: 27n March 2022
; Modified By: Kailee Stephens
; Description: Variables assignment 2.3 css file
;===========================================
*/ 

#employee{
    border-width:1px;
    border-color:red;
    border-style:dotted;
}

#payroll-header{
    text-align:center;
}

.return-home{
    color:#4F3674;
    text-decoration:none;
}

.return-home:hover{
    background-color:#D6A800;
    color:#4F3674;
}

.return-home:visited{
    color:#3C275A;
}
